table {
    width: 90%;
    margin: auto;
}

.mat-column-id{
    text-align: center;
}
.mat-column-nombre{
    text-align: center;
}
.mat-column-apellido{
    text-align: center;
}
.mat-column-celular{
    text-align: center;
}
.mat-column-correo{
    text-align: center;
}