<div class="container">
    <br>
    <form [formGroup]="dataForm">
        <div class="row">
            <div class="col">
                <mat-label>Nombre</mat-label>
                <p></p>
                        <mat-form-field class="mat-full-width" appearance="fill">
                        <mat-label>Digite el nombre</mat-label>
                        <input matInput placeholder="indique el nombre" formControlName="nombre">
                        </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-flat-button color="primary" class="float-star" [routerLink]="['/categorias']">Regresar</button>
            
                <button mat-flat-button color="primary" class="float-end" (click)="guardar()" [routerLink]="['/categorias']">Guardar</button>
            </div>
        </div>
    </form>

</div>
