table {
    width: 90%;
    margin: auto;
}

.mat-column-id{
    text-align: center;
}
.mat-column-nombre{
    text-align: center;
}
.mat-column-precio{
    text-align: center;
}
.mat-column-id_Categorias{
    text-align: center;
}